<!DOCTYPE html>
<html>
<head>
    <title>Data Lichen</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
    <h1>Metadata Information</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Unique Identifier</th>
                <th>Service Name</th>
                <th>Service Address</th>
                <th>Completeness</th>
                <th>Validity</th>
                <th>Accuracy</th>
                <th>Processing Time</th>
                <th>Actual Time</th>
                <th>Processing Duration</th> <!-- New column -->
            </tr>
        </thead>
        <tbody>
            <% metadata.forEach(item => { %>
                <tr>
                    <td><%= item.uniqueIdentifier %></td>
                    <td><%= item.serviceName %></td>
                    <td><%= item.serviceAddress %></td>
                    <td><%= item.completeness %></td>
                    <td><%= item.validity %></td>
                    <td><%= item.accuracy %></td>
                    <td><%= item.processingTime %></td>
                    <td><%= item.actualTime %></td>
                    <td><%= item.processingDuration %></td> <!-- New column data -->
                </tr>
            <% }) %>
        </tbody>
    </table>
    
</body>
</html>
